<div class="menuContainer">
    <a class="toggleMenu" href="#">Menu</a>
    <nav class="navMenu">
    </nav>
</div>
<script>
    $(document).ready(function ()
    {
        var userData = $("<li/>", { "class": "float-right userData" })
            .append($("<a/>")
                .append('</i><i class="fa fa-user" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true">'));

        if (!shoppingCart)
            shoppingCart = $("body").shoppingCart({
                get: '@Url.Action("GetCart", "Home")',
                save: '@Url.Action("AddCart", "Home")',
                connector: userData.find(".fa-shopping-cart"),
                image: '@Url.Action("Index", "Home", null, Request.Url.Scheme)',
                display: "none"
            });

        loginView = $("<div></div>").loginView({
            signIn: '@Url.Action("Index", "Account", null, Request.Url.Scheme)',
            signOut: '@Url.Action("SignOut", "Home", null, Request.Url.Scheme)',
            get: '@Url.Action("GetcurrentUser", "Home")',
            userProfile: '@Url.Action("UserProfile", "Account", null, Request.Url.Scheme)',
            adminPanel:  '@Url.Action("Index", "Admin", null, Request.Url.Scheme)',
            homePage: '@Url.Action("index", "Home", null, Request.Url.Scheme)',
            connector: userData.find(".fa-user"),
        });

        userData.find(".fa-shopping-cart").click(function () {
            window.location= '@Url.Action("ShoppingCart", "Home", null, Request.Url.Scheme)'
        });


        var container = $(".navMenu").append("<ul class='nav'></ul>");

        function renderMenu(parent, item)
        {
            if(item.children && item.children.length > 0)
            {
                parent.children("a").addClass("parent");
                parent.children("a").append('<i class="fa fa-caret-down"></i>');
                var ul = $("<ul></ul>")
                parent.append(ul);
                $.each(item.children, function ()
                {
                    var url = '@Url.Action("index","Home")'
                    url += '?page=' + this.id;
                    var li = $("<li></li>").append("<a href='" + url + "'>" + this.name + " </a>");
                    ul.append(li);
                    renderMenu(li, this);
                });
            }
        }

        container.ax({
            url: '@Url.Action("Pages", "Home")',
            async: false,
            success: function (data)
            {
                $.each(data, function ()
                {
                    var url = '@Url.Action("index","Home")'
                    url += '?page=' + this.id;
                    var li = $("<li></li>").append("<a href='" + url + "'>" + this.name + " </a>");
                    container.children("ul").append(li);
                    renderMenu(li, this);


                });
                container.children("ul").append(userData);
                adjustMenu(userData);
            }
        });

    });
</script>