<!DOCTYPE html>
<html lang="en" class="nav-no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/custom")
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/bundles/My")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>
    @Scripts.Render("~/bundles/JSX")


    <script>

        var global = {
            templete: '@System.Configuration.ConfigurationManager.AppSettings["Template"]',
            root: '@Url.Action("Index", "Home", null, Request.Url.Scheme)',
            partial: function (name, selector)
            {
                var name = global.templete + name + ".cshtml".trim();
                var item = undefined;
                $("body").ax({
                    type: "GET",
                    url: '@Url.Action("Template", "Home")',
                    dataType: 'html',
                    async: false,
                    data: { path: name },
                    success: function (data)
                    {
                        item = data;
                    }
                });

                if(!selector)
                    return item;
                else return $("<div/>").append(item).children(selector)[0].outerHTML;
            }
        }

        var shoppingCart;
        var loginView;
        function Partial(moduleName, callbeck, fullPath) {
            var item = undefined;
            $("body").ax({
                type: "GET",
                url: '@Url.Action("GetModule", "Home")',
                dataType: 'html',
                async: (callbeck != undefined),
                data: { partialName: (fullPath == undefined ? "data/" : "") + moduleName },
                success: function (data) {

                    item = $(data);
                    if (callbeck)
                        callbeck(data);
                }
            });
            return item;
        }

        function confirm(text, onconfirm, container) {
            if (!container)
                container = $("body")
            container.dialog({
                data: $("<span class='info'></span>").html(text),
                title:"Please confirm",
                onConfirm: onconfirm,
                onCancel: function () { }
            }).Show();
        }


        function btnLoadable()
        {
            $(".m-button:not(.loadable)").click(function ()
            {
                var x = $(this);
                if(x.find(".fa-circle-o-notch").length <= 0)
                {
                    x.addClass("loadable");
                    x.prepend($("<i/>", { "class": "fa fa-circle-o-notch fa-spin" }));
                    setTimeout(function ()
                    {
                        x.find(".fa-circle-o-notch").remove();
                    }, 1500);
                }

            })
        }
        setTimeout(btnLoadable, 1500);
    </script>

</head>
<body>

    <div class="container body-content">
        @RenderPage("~/Views/data/TopMenu.cshtml")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
