@model IProduct.Modules.Library.Custom.JsonData
@{
    Layout = "";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/My")
@Styles.Render("~/Content/site")
@Styles.Render("~/Navigation Menu/css")
@Scripts.Render("~/bundles/My")



<div class="login">
    <div class="view">
        <div class="viewData">
            <button href='@Url.Action("Index", new {type=IProduct.Modules.SignInApplication.Facebook.ToString()})' class="loginBtn loginBtn--facebook">
                Sign In with Facebook
            </button>

            <button href='@Url.Action("Index", new {type= IProduct.Modules.SignInApplication.Google.ToString()})' class="loginBtn loginBtn--google">
                Sign In with Google
            </button>
        </div>
    </div>

    <div class="seperator">
        <div class="text">OR</div>
    </div>
    @using(Html.BeginForm("Index", "Account", new { type = IProduct.Modules.SignInApplication.Cookie.ToString() }, FormMethod.Post, null))
    {
        <div class=" view">
            <div class="viewData">
                <div class="form-group">
                    <input type="text" name="email" class="form-control" placeholder="Username" />
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Username" />
                </div>

                <button type="submit" class="loginBtn loginBtn--signin">
                    Sign In
                </button>

                <button type="submit" class="loginBtn loginBtn--signup">
                    Sign Up
                </button>

            </div>
        </div>
    }
    @{
        if(!string.IsNullOrEmpty(Model?.Data?.ToString()))
        {
            <div class="error">
                @Model.Data
            </div>
        }
    }
</div>

<script>
    /// make a button act like a link
    function toLocation(item)
    {
        $(item).each(function ()
        {
            var location = $(this).attr("href");
            if(location && location !== "")
                $(this).click(function ()
                {
                    window.location.href = location;
                });
        });
    }

    $(document).ready(function ()
    {
        $(window).resize(function ()
        {
            $(".login").center();
        });
        $(".login").center();
        toLocation($(".loginBtn"));
    });
</script>

