@model IProduct.Modules.Library.Product

<div class="section flex product-detalj">
    <div class="text-content">
        <h1>@Model.Name </h1>
        <p class="description ">@Model.Description</p>
    </div>
    <div class="product-detalj-images flex">
        <div class="product-detalj-big-images">
            @foreach (var img in Model.Images)
            {
                <div>
                    <img src='@Url.Action("Index", "Home", null, Request.Url.Scheme)@img.Images.FileFullPath' />
                </div>
            }
        </div>
        @if (Model.Images.Count() > 1)
        {
            <div class="product-detalj-images-thumps">
                @foreach (var img in Model.Images)
                {
                    <div>
                        <img src='@Url.Action("Index", "Home", null, Request.Url.Scheme)@img.Images.FileThumpFullPath' />
                    </div>
                }
            </div>
        }
    </div>

    <div class="flex product-detalj-buy-info">
        <div class="product-price" price='@Model.Price'> </div>
        <button onclick="shoppingCart.add('@Model.Id');" class="m-button btn--addtoCart ">Buy</button>
    </div>

    @if (!string.IsNullOrEmpty(Model.Content))
    {
        <div class="flex product-detalj-content">
            @Html.Raw(Model.Content)
        </div>
    }
</div>

@if (Model.Tabs.Count() > 0)
{
    <div class="product-detalj-tabs-container section flex">

    </div>

    foreach (var item in Model.Tabs)
    {
        <div class="product-detalj-tabs" name='@item.Name'>
            @Html.Raw(item.Content)
        </div>
    }
}
<script>
    $(document).ready(function ()
    {
        //format a price
        var price = parseFloat($(".product-price").attr("price")).formatMoney();
        $(".product-price").html(price + ":-");
        var tabContainer = $(".product-detalj-tabs-container");
        if(tabContainer.length > 0)
        {
            var tabs = tabContainer.tabs({
                autoHeight: true,
            });
            var tbs = $(".product-detalj-tabs");
            var i = tbs.length - 1;
            while(i >= 0)
            {
                tabs.add(tbs[i], $(tbs[i]).attr("name"), i);
                i--;
            }
            tabs.select(tbs.length - 1);
        }

        if($('.product-detalj-images-thumps').length > 0)
        {
            $('.product-detalj-big-images').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.product-detalj-images-thumps'
            });

            $('.product-detalj-images-thumps').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                asNavFor: '.product-detalj-big-images',
                dots: true,
                centerMode: true,
                focusOnSelect: true
            });
        }
    });
</script>
